<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>NECOFSaaS: NECOFS as a Service</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
      table { table-layout: fixed; }
      table th, table td { overflow: hidden; }
      hr { margin-top: 10px; margin-bottom: 10px; }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1><img src="{{ url_for('static', filename='NERACOOS_logo_web_trans.gif') }}"><small>NECOFS as a Service in the Amazon AWS cloud</small></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="nav nav-pills">
            <li><a href="{{ url_for('documentation') }}"><span style="color: brown" class="glyphicon glyphicon-book"></span> Documentation</a></li>
            <li><a href="{{ url_for('logs') }}"><span class="glyphicon glyphicon-list"></span> Logs</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}" data-toggle="modal"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
            <li><a href="#login" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>

      <hr />

      <form>

        <div class="panel panel-default">
          <div class="panel-heading">Configuration</div>
          <div class="panel-body">

            <div class="form-group">
              <label for="dates" class="col-sm-2 control-label">Dates</label>
              <div class="col-sm-10">
                {% for date in dates %}
                <div class="radio">
                  <label>
                    <input type="radio" name="date" id="{{ date.isoformat() }}" value="{{ date.isoformat() }}"> {{ date.isoformat() }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="form-group">
              <label for="offerings" class="col-sm-2 control-label">Offering</label>
              <div class="col-sm-10">
                {% for offering in offerings %}
                <div class="radio">
                  <label>
                    <input type="radio" name="offering" id="{{ offering.ID }}" value="{{ offering.ID }}"> {{ offering.NAME }} <a href="{{ url_for('offering', id=offering.ID) }}"><span class="glyphicon glyphicon-info-sign"></span></a>
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>

            <button type="submit" class="btn btn-default"><span style="color: green" class="glyphicon glyphicon-play"></span> execute</button>
          </div>
        </div>
      </form>

    </div>


    <!-- Modal HTML -->
    <div id="login" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">NECOFSaaS Login</h4>
          </div>
          <div class="modal-body">
            <form method="post" action="/wms/login" name="loginForm">
              <p><input type="text" class="span3" name="username" id="username" placeholder="username" value=""></p>
              <p><input type="password" class="span3" id="password" name="password" placeholder="password"></p>
              <p><button type="submit" class="btn btn-success">login</button></p>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
